[submodule "htdocs/workstation"]
	path = htdocs/workstationatm
	url = git@github.com:ATM-Consulting/dolibarr_module_workstation.git
    branch = 2.0
[submodule "htdocs/ordo"]
	path = htdocs/ordo
	url = git@github.com:ATM-Consulting/dolibarr_module_ordo.git
	branch = 4.0
[submodule "htdocs/abricot"]
	path = htdocs/abricot
    url = git@github.com:ATM-Consulting/dolibarr_module_abricot.git
    branch = 3.2
